In [1]:
%load_ext sql

In [2]:
import requests
from sqlalchemy import create_engine

In [3]:
url = "http://fastapi:8000/customers/"

data = {
    "first_name": "John",
    "last_name": "Doe",
    "email": "john.doe@example.com",
    "joined_at": "2025-03-16T12:00:00"
}

headers = {"Content-Type": "application/json"}

response = requests.post(url, json=data, headers=headers)

print(response.status_code, response.json())

201 {'id': 1, 'first_name': 'John', 'last_name': 'Doe', 'email': 'john.doe@example.com', 'joined_at': '2025-03-16T12:00:00'}

In [4]:
connection_string = f"postgresql://user:password@db:5432/ecommerce"
engine = create_engine(connection_string)
get_ipython().run_line_magic('sql', connection_string)

Connecting to 'postgresql://user:***@db:5432/ecommerce'

In [5]:
%sql \l

Running query in 'postgresql://user:***@db:5432/ecommerce'

+-----------+-------+----------+------------+------------+-------------------+
|    Name   | Owner | Encoding |  Collate   |   Ctype    | Access privileges |
+-----------+-------+----------+------------+------------+-------------------+
| ecommerce |  user |   UTF8   | en_US.utf8 | en_US.utf8 |        None       |
|  postgres |  user |   UTF8   | en_US.utf8 | en_US.utf8 |        None       |
| template0 |  user |   UTF8   | en_US.utf8 | en_US.utf8 |      =c/user      |
|           |       |          |            |            |   user=CTc/user   |
| template1 |  user |   UTF8   | en_US.utf8 | en_US.utf8 |      =c/user      |
|           |       |          |            |            |   user=CTc/user   |
+-----------+-------+----------+------------+------------+-------------------+

In [6]:
%sql \dt

Running query in 'postgresql://user:***@db:5432/ecommerce'

+--------+-----------+-------+-------+
| Schema |    Name   |  Type | Owner |
+--------+-----------+-------+-------+
| public |  customer | table |  user |
| public | inventory | table |  user |
| public |   vendor  | table |  user |
+--------+-----------+-------+-------+

In [7]:
table_list = [
    "customer", "inventory", "vendor"
]

In [8]:
for table in table_list:
    print(f"{table}")
    schema_query = f"columns --table {table}"
    display(get_ipython().run_line_magic('sqlcmd', schema_query))

customer

+------------+-----------+----------+--------------------------------------+---------------+---------+
|    name    |    type   | nullable |               default                | autoincrement | comment |
+------------+-----------+----------+--------------------------------------+---------------+---------+
|     id     |  INTEGER  |  False   | nextval('customer_id_seq'::regclass) |      True     |   None  |
| first_name |    TEXT   |  False   |                 None                 |     False     |   None  |
| last_name  |    TEXT   |  False   |                 None                 |     False     |   None  |
|   email    |    TEXT   |  False   |                 None                 |     False     |   None  |
| joined_at  | TIMESTAMP |  False   |                 None                 |     False     |   None  |
+------------+-----------+----------+--------------------------------------+---------------+---------+

inventory

+------------+-----------+----------+---------------------------------------+---------------+---------+
|    name    |    type   | nullable |                default                | autoincrement | comment |
+------------+-----------+----------+---------------------------------------+---------------+---------+
|     id     |  INTEGER  |  False   | nextval('inventory_id_seq'::regclass) |      True     |   None  |
| item_name  |    TEXT   |  False   |                  None                 |     False     |   None  |
|  category  |    TEXT   |  False   |                  None                 |     False     |   None  |
|   price    |  INTEGER  |  False   |                  None                 |     False     |   None  |
| updated_at | TIMESTAMP |  False   |                  None                 |     False     |   None  |
| vendor_id  |  INTEGER  |   True   |                  None                 |     False     |   None  |
+------------+-----------+----------+---------------------------------------+---------------+---------+

vendor

+-------------+-----------+----------+------------------------------------+---------------+---------+
|     name    |    type   | nullable |              default               | autoincrement | comment |
+-------------+-----------+----------+------------------------------------+---------------+---------+
|      id     |  INTEGER  |  False   | nextval('vendor_id_seq'::regclass) |      True     |   None  |
| vendor_name |    TEXT   |  False   |                None                |     False     |   None  |
|    region   |    TEXT   |  False   |                None                |     False     |   None  |
|  joined_at  | TIMESTAMP |  False   |                None                |     False     |   None  |
+-------------+-----------+----------+------------------------------------+---------------+---------+

In [12]:
import requests

url = "http://fastapi:8000/customers/"
params = {"email": "john.doe@example.com"}  # Query parameter

response = requests.get(url, params=params)

print(response.status_code, response.json())

200 {'first_name': 'John', 'last_name': 'Doe', 'email': 'john.doe@example.com', 'joined_at': '2025-03-16T12:00:00'}