In [1]:
%load_ext sql

In [10]:
import requests
import pandas as pd
from sqlalchemy import create_engine
from faker import Faker

In [12]:
pd.set_option('display.max_rows', 12)
pd.set_option('display.min_rows', 6)

In [3]:
fake = Faker()

base_url = "http://fastapi:8000"
headers = {"Content-Type": "application/json"}

print("customers")
# Create customers
for customer_id in range(1, 11):
    data = {
        "first_name": fake.first_name(),
        "last_name": fake.last_name(),
        "email": fake.email(),
        "joined_at": fake.iso8601()
    }
    response = requests.post(f"{base_url}/customers/", json=data, headers=headers)
    print(response.status_code, response.json())

print("vendors")
# Create vendors
for vendor_id in range(1, 6):
    data = {
        "vendor_name": fake.company(),
        "region": fake.country_code()
    }
    response = requests.post(f"{base_url}/vendors/", json=data, headers=headers)
    print(response.status_code, response.json())

print("inventory per vendor")
# Add inventory per vendor
for vendor_id in range(1, 6):
    for item_id in range(1, 11):
        params = {"vendor_id": vendor_id}
        data = {
            "item_name": fake.word(),
            "category": fake.word(),
            "price": fake.random_int(min=10, max=500),
        }
        response = requests.post(f"{base_url}/inventory/", json=data, headers=headers, params=params)
        print(response.status_code, response.json())

print("cart and checkout twice and add to cart again!")
for customer_id in range(1, 11):
    for _ in range(2):  # Checkout twice
        cart_data = {
            "user_id": customer_id,
            "cart": [
                {
                    "item_id": str(fake.random_int(min=1, max=10)),
                    "vendor_id": str(fake.random_int(min=1, max=5)),
                    "qty": fake.random_int(min=1, max=5)
                }
            ]
        }
        response = requests.post(f"{base_url}/cart/", json=cart_data, headers=headers)
        print(response.status_code, response.json())
        
        response = requests.post(f"{base_url}/checkout/", json={"user_id": customer_id}, headers=headers)
        print(response.status_code, response.text)
    
    # Add to cart one more time
    cart_data = {
        "user_id": customer_id,
        "cart": [
            {
                "item_id": str(fake.random_int(min=1, max=10)),
                "vendor_id": str(fake.random_int(min=1, max=5)),
                "qty": fake.random_int(min=1, max=5)
            }
        ]
    }
    response = requests.post(f"{base_url}/cart/", json=cart_data, headers=headers)
    print(response.status_code, response.json())

customers
201 {'id': 1, 'first_name': 'Jackson', 'last_name': 'Freeman', 'email': 'eric73@example.org', 'joined_at': '2025-03-16T10:31:19.272581'}
201 {'id': 2, 'first_name': 'Bradley', 'last_name': 'Bailey', 'email': 'chandlercharlotte@example.net', 'joined_at': '2025-03-16T10:31:19.283771'}
201 {'id': 3, 'first_name': 'Scott', 'last_name': 'Cook', 'email': 'gcharles@example.net', 'joined_at': '2025-03-16T10:31:19.291722'}
201 {'id': 4, 'first_name': 'Matthew', 'last_name': 'Harding', 'email': 'woodtoni@example.net', 'joined_at': '2025-03-16T10:31:19.300404'}
201 {'id': 5, 'first_name': 'John', 'last_name': 'Tucker', 'email': 'aprilbrown@example.net', 'joined_at': '2025-03-16T10:31:19.309857'}
201 {'id': 6, 'first_name': 'Maria', 'last_name': 'Valdez', 'email': 'hensleydanielle@example.com', 'joined_at': '2025-03-16T10:31:19.317993'}
201 {'id': 7, 'first_name': 'Ashley', 'last_name': 'Carter', 'email': 'alison88@example.com', 'joined_at': '2025-03-16T10:31:19.327727'}
201 {'id': 8, 'first_name': 'Allison', 'last_name': 'Taylor', 'email': 'prichardson@example.com', 'joined_at': '2025-03-16T10:31:19.338297'}
201 {'id': 9, 'first_name': 'Michelle', 'last_name': 'Spencer', 'email': 'ramirezmark@example.com', 'joined_at': '2025-03-16T10:31:19.349096'}
201 {'id': 10, 'first_name': 'Sheryl', 'last_name': 'Hanson', 'email': 'daniellehall@example.com', 'joined_at': '2025-03-16T10:31:19.359303'}
vendors
201 {'id': 1, 'vendor_name': 'Weaver Inc', 'region': 'RO', 'joined_at': '2025-03-16T10:31:19.370019'}
201 {'id': 2, 'vendor_name': 'Burton-Morrison', 'region': 'AD', 'joined_at': '2025-03-16T10:31:19.378211'}
201 {'id': 3, 'vendor_name': 'Harding, Johnson and Rogers', 'region': 'BW', 'joined_at': '2025-03-16T10:31:19.388256'}
201 {'id': 4, 'vendor_name': 'Crawford Ltd', 'region': 'KH', 'joined_at': '2025-03-16T10:31:19.397292'}
201 {'id': 5, 'vendor_name': 'Wilson, Harper and Young', 'region': 'MK', 'joined_at': '2025-03-16T10:31:19.406434'}
inventory per vendor
200 {'id': 1, 'item_name': 'how', 'category': 'but', 'price': 469.0, 'vendor_id': 1, 'updated_at': '2025-03-16T10:31:19.416024'}
200 {'id': 2, 'item_name': 'board', 'category': 'production', 'price': 68.0, 'vendor_id': 1, 'updated_at': '2025-03-16T10:31:19.426401'}
200 {'id': 3, 'item_name': 'risk', 'category': 'any', 'price': 458.0, 'vendor_id': 1, 'updated_at': '2025-03-16T10:31:19.437527'}
200 {'id': 4, 'item_name': 'no', 'category': 'ability', 'price': 56.0, 'vendor_id': 1, 'updated_at': '2025-03-16T10:31:19.448562'}
200 {'id': 5, 'item_name': 'baby', 'category': 'tax', 'price': 448.0, 'vendor_id': 1, 'updated_at': '2025-03-16T10:31:19.457979'}
200 {'id': 6, 'item_name': 'key', 'category': 'enter', 'price': 219.0, 'vendor_id': 1, 'updated_at': '2025-03-16T10:31:19.466974'}
200 {'id': 7, 'item_name': 'attack', 'category': 'president', 'price': 402.0, 'vendor_id': 1, 'updated_at': '2025-03-16T10:31:19.476650'}
200 {'id': 8, 'item_name': 'also', 'category': 'state', 'price': 494.0, 'vendor_id': 1, 'updated_at': '2025-03-16T10:31:19.487654'}
200 {'id': 9, 'item_name': 'why', 'category': 'film', 'price': 323.0, 'vendor_id': 1, 'updated_at': '2025-03-16T10:31:19.498914'}
200 {'id': 10, 'item_name': 'evidence', 'category': 'month', 'price': 375.0, 'vendor_id': 1, 'updated_at': '2025-03-16T10:31:19.509512'}
200 {'id': 11, 'item_name': 'director', 'category': 'should', 'price': 328.0, 'vendor_id': 2, 'updated_at': '2025-03-16T10:31:19.519368'}
200 {'id': 12, 'item_name': 'guess', 'category': 'new', 'price': 115.0, 'vendor_id': 2, 'updated_at': '2025-03-16T10:31:19.528336'}
200 {'id': 13, 'item_name': 'drop', 'category': 'option', 'price': 351.0, 'vendor_id': 2, 'updated_at': '2025-03-16T10:31:19.539201'}
200 {'id': 14, 'item_name': 'pattern', 'category': 'yes', 'price': 401.0, 'vendor_id': 2, 'updated_at': '2025-03-16T10:31:19.548623'}
200 {'id': 15, 'item_name': 'each', 'category': 'bag', 'price': 73.0, 'vendor_id': 2, 'updated_at': '2025-03-16T10:31:19.557861'}
200 {'id': 16, 'item_name': 'agency', 'category': 'reduce', 'price': 79.0, 'vendor_id': 2, 'updated_at': '2025-03-16T10:31:19.569822'}
200 {'id': 17, 'item_name': 'improve', 'category': 'morning', 'price': 42.0, 'vendor_id': 2, 'updated_at': '2025-03-16T10:31:19.578357'}
200 {'id': 18, 'item_name': 'party', 'category': 'talk', 'price': 495.0, 'vendor_id': 2, 'updated_at': '2025-03-16T10:31:19.586212'}
200 {'id': 19, 'item_name': 'do', 'category': 'couple', 'price': 224.0, 'vendor_id': 2, 'updated_at': '2025-03-16T10:31:19.597379'}
200 {'id': 20, 'item_name': 'study', 'category': 'develop', 'price': 348.0, 'vendor_id': 2, 'updated_at': '2025-03-16T10:31:19.605428'}
200 {'id': 21, 'item_name': 'station', 'category': 'our', 'price': 297.0, 'vendor_id': 3, 'updated_at': '2025-03-16T10:31:19.614743'}
200 {'id': 22, 'item_name': 'billion', 'category': 'gas', 'price': 61.0, 'vendor_id': 3, 'updated_at': '2025-03-16T10:31:19.624656'}
200 {'id': 23, 'item_name': 'from', 'category': 'offer', 'price': 207.0, 'vendor_id': 3, 'updated_at': '2025-03-16T10:31:19.632786'}
200 {'id': 24, 'item_name': 'small', 'category': 'bit', 'price': 167.0, 'vendor_id': 3, 'updated_at': '2025-03-16T10:31:19.641454'}
200 {'id': 25, 'item_name': 'sure', 'category': 'cup', 'price': 496.0, 'vendor_id': 3, 'updated_at': '2025-03-16T10:31:19.652796'}
200 {'id': 26, 'item_name': 'oil', 'category': 'skill', 'price': 370.0, 'vendor_id': 3, 'updated_at': '2025-03-16T10:31:19.662347'}
200 {'id': 27, 'item_name': 'individual', 'category': 'floor', 'price': 128.0, 'vendor_id': 3, 'updated_at': '2025-03-16T10:31:19.670562'}
200 {'id': 28, 'item_name': 'hear', 'category': 'effect', 'price': 337.0, 'vendor_id': 3, 'updated_at': '2025-03-16T10:31:19.677886'}
200 {'id': 29, 'item_name': 'guy', 'category': 'past', 'price': 312.0, 'vendor_id': 3, 'updated_at': '2025-03-16T10:31:19.688300'}
200 {'id': 30, 'item_name': 'protect', 'category': 'fire', 'price': 392.0, 'vendor_id': 3, 'updated_at': '2025-03-16T10:31:19.697641'}
200 {'id': 31, 'item_name': 'just', 'category': 'picture', 'price': 167.0, 'vendor_id': 4, 'updated_at': '2025-03-16T10:31:19.707087'}
200 {'id': 32, 'item_name': 'serve', 'category': 'down', 'price': 330.0, 'vendor_id': 4, 'updated_at': '2025-03-16T10:31:19.718111'}
200 {'id': 33, 'item_name': 'free', 'category': 'worry', 'price': 103.0, 'vendor_id': 4, 'updated_at': '2025-03-16T10:31:19.726903'}
200 {'id': 34, 'item_name': 'old', 'category': 'figure', 'price': 462.0, 'vendor_id': 4, 'updated_at': '2025-03-16T10:31:19.736700'}
200 {'id': 35, 'item_name': 'five', 'category': 'Democrat', 'price': 248.0, 'vendor_id': 4, 'updated_at': '2025-03-16T10:31:19.747606'}
200 {'id': 36, 'item_name': 'end', 'category': 'hand', 'price': 174.0, 'vendor_id': 4, 'updated_at': '2025-03-16T10:31:19.758505'}
200 {'id': 37, 'item_name': 'language', 'category': 'dinner', 'price': 49.0, 'vendor_id': 4, 'updated_at': '2025-03-16T10:31:19.769463'}
200 {'id': 38, 'item_name': 'maybe', 'category': 'but', 'price': 208.0, 'vendor_id': 4, 'updated_at': '2025-03-16T10:31:19.781565'}
200 {'id': 39, 'item_name': 'increase', 'category': 'plant', 'price': 47.0, 'vendor_id': 4, 'updated_at': '2025-03-16T10:31:19.792814'}
200 {'id': 40, 'item_name': 'region', 'category': 'blood', 'price': 393.0, 'vendor_id': 4, 'updated_at': '2025-03-16T10:31:19.803400'}
200 {'id': 41, 'item_name': 'serve', 'category': 'collection', 'price': 400.0, 'vendor_id': 5, 'updated_at': '2025-03-16T10:31:19.817047'}
200 {'id': 42, 'item_name': 'weight', 'category': 'be', 'price': 280.0, 'vendor_id': 5, 'updated_at': '2025-03-16T10:31:19.826784'}
200 {'id': 43, 'item_name': 'statement', 'category': 'yet', 'price': 369.0, 'vendor_id': 5, 'updated_at': '2025-03-16T10:31:19.835614'}
200 {'id': 44, 'item_name': 'bit', 'category': 'magazine', 'price': 470.0, 'vendor_id': 5, 'updated_at': '2025-03-16T10:31:19.845440'}
200 {'id': 45, 'item_name': 'expect', 'category': 'surface', 'price': 239.0, 'vendor_id': 5, 'updated_at': '2025-03-16T10:31:19.853445'}
200 {'id': 46, 'item_name': 'there', 'category': 'agent', 'price': 52.0, 'vendor_id': 5, 'updated_at': '2025-03-16T10:31:19.862469'}
200 {'id': 47, 'item_name': 'down', 'category': 'soldier', 'price': 153.0, 'vendor_id': 5, 'updated_at': '2025-03-16T10:31:19.871505'}
200 {'id': 48, 'item_name': 'article', 'category': 'both', 'price': 299.0, 'vendor_id': 5, 'updated_at': '2025-03-16T10:31:19.880480'}
200 {'id': 49, 'item_name': 'hundred', 'category': 'development', 'price': 189.0, 'vendor_id': 5, 'updated_at': '2025-03-16T10:31:19.890761'}
200 {'id': 50, 'item_name': 'treat', 'category': 'agent', 'price': 162.0, 'vendor_id': 5, 'updated_at': '2025-03-16T10:31:19.901447'}
cart and checkout twice and add to cart again!
200 {'user_id': 1, 'cart': [{'item_id': '9', 'qty': 2, 'vendor_id': '4'}]}
200 {"message":"Transaction completed","transaction_id":"3959161d-0fc2-48e3-9f1b-959dd2d3064a"}
200 {'user_id': 1, 'cart': [{'item_id': '6', 'qty': 1, 'vendor_id': '1'}]}
200 {"message":"Transaction completed","transaction_id":"f4fcd7e1-98d2-48e0-8e3a-9d93652b10cf"}
200 {'user_id': 1, 'cart': [{'item_id': '1', 'qty': 5, 'vendor_id': '2'}]}
200 {'user_id': 2, 'cart': [{'item_id': '8', 'qty': 1, 'vendor_id': '1'}]}
200 {"message":"Transaction completed","transaction_id":"e93d29f8-990c-45ee-bba3-fcf5d5d57635"}
200 {'user_id': 2, 'cart': [{'item_id': '5', 'qty': 1, 'vendor_id': '5'}]}
200 {"message":"Transaction completed","transaction_id":"7f0a70b8-e4cc-485b-a685-a8199ef29e03"}
200 {'user_id': 2, 'cart': [{'item_id': '5', 'qty': 5, 'vendor_id': '2'}]}
200 {'user_id': 3, 'cart': [{'item_id': '2', 'qty': 1, 'vendor_id': '5'}]}
200 {"message":"Transaction completed","transaction_id":"14af435b-47a5-4895-873a-747de490feb8"}
200 {'user_id': 3, 'cart': [{'item_id': '7', 'qty': 1, 'vendor_id': '4'}]}
200 {"message":"Transaction completed","transaction_id":"3231fc19-388f-4145-bad6-fc63a498155a"}
200 {'user_id': 3, 'cart': [{'item_id': '2', 'qty': 2, 'vendor_id': '2'}]}
200 {'user_id': 4, 'cart': [{'item_id': '1', 'qty': 2, 'vendor_id': '5'}]}
200 {"message":"Transaction completed","transaction_id":"f5187134-f82f-4d89-b54a-fb23b2d61f31"}
200 {'user_id': 4, 'cart': [{'item_id': '8', 'qty': 5, 'vendor_id': '3'}]}
200 {"message":"Transaction completed","transaction_id":"c85c9215-0787-4e44-a830-5141ff5f40f6"}
200 {'user_id': 4, 'cart': [{'item_id': '9', 'qty': 2, 'vendor_id': '2'}]}
200 {'user_id': 5, 'cart': [{'item_id': '4', 'qty': 3, 'vendor_id': '4'}]}
200 {"message":"Transaction completed","transaction_id":"a2104130-1d1e-45fd-8b49-3d1fa379fc47"}
200 {'user_id': 5, 'cart': [{'item_id': '6', 'qty': 3, 'vendor_id': '3'}]}
200 {"message":"Transaction completed","transaction_id":"019a7dc2-1bef-47aa-bcfa-29e2c9a84460"}
200 {'user_id': 5, 'cart': [{'item_id': '5', 'qty': 1, 'vendor_id': '3'}]}
200 {'user_id': 6, 'cart': [{'item_id': '8', 'qty': 4, 'vendor_id': '1'}]}
200 {"message":"Transaction completed","transaction_id":"78626f95-2af9-4308-9bf1-309a79108333"}
200 {'user_id': 6, 'cart': [{'item_id': '10', 'qty': 3, 'vendor_id': '3'}]}
200 {"message":"Transaction completed","transaction_id":"4be88e53-08e5-4e0d-aacf-8b9544811798"}
200 {'user_id': 6, 'cart': [{'item_id': '8', 'qty': 2, 'vendor_id': '2'}]}
200 {'user_id': 7, 'cart': [{'item_id': '7', 'qty': 2, 'vendor_id': '5'}]}
200 {"message":"Transaction completed","transaction_id":"ec01c9bf-1276-4c48-8151-d37dfccb063e"}
200 {'user_id': 7, 'cart': [{'item_id': '8', 'qty': 5, 'vendor_id': '2'}]}
200 {"message":"Transaction completed","transaction_id":"22ca1f8f-152d-4a4e-a14e-1a0073e744af"}
200 {'user_id': 7, 'cart': [{'item_id': '1', 'qty': 5, 'vendor_id': '2'}]}
200 {'user_id': 8, 'cart': [{'item_id': '10', 'qty': 1, 'vendor_id': '2'}]}
200 {"message":"Transaction completed","transaction_id":"2581cb80-1713-454b-a8cc-8073998fe5a9"}
200 {'user_id': 8, 'cart': [{'item_id': '7', 'qty': 4, 'vendor_id': '5'}]}
200 {"message":"Transaction completed","transaction_id":"3128f5d4-afb8-4d64-a77a-a0b4dbcb00c6"}
200 {'user_id': 8, 'cart': [{'item_id': '2', 'qty': 4, 'vendor_id': '4'}]}
200 {'user_id': 9, 'cart': [{'item_id': '3', 'qty': 2, 'vendor_id': '4'}]}
200 {"message":"Transaction completed","transaction_id":"6580ef29-0efb-437d-81d6-5ac286a727d4"}
200 {'user_id': 9, 'cart': [{'item_id': '3', 'qty': 4, 'vendor_id': '5'}]}
200 {"message":"Transaction completed","transaction_id":"679eeef0-4818-438f-9587-062fea12f91b"}
200 {'user_id': 9, 'cart': [{'item_id': '5', 'qty': 2, 'vendor_id': '1'}]}
200 {'user_id': 10, 'cart': [{'item_id': '5', 'qty': 3, 'vendor_id': '5'}]}
200 {"message":"Transaction completed","transaction_id":"f1a38636-b9cd-4b9a-87dc-66db2e07e9ee"}
200 {'user_id': 10, 'cart': [{'item_id': '3', 'qty': 4, 'vendor_id': '4'}]}
200 {"message":"Transaction completed","transaction_id":"25e5b959-feb1-49bd-b017-78c72cdf5331"}
200 {'user_id': 10, 'cart': [{'item_id': '4', 'qty': 4, 'vendor_id': '2'}]}

In [4]:
connection_string = f"postgresql://user:password@db:5432/ecommerce"
engine = create_engine(connection_string)
get_ipython().run_line_magic('sql', connection_string)

Connecting to 'postgresql://user:***@db:5432/ecommerce'

In [5]:
%sql \l

Running query in 'postgresql://user:***@db:5432/ecommerce'

+-----------+-------+----------+------------+------------+-------------------+
|    Name   | Owner | Encoding |  Collate   |   Ctype    | Access privileges |
+-----------+-------+----------+------------+------------+-------------------+
| ecommerce |  user |   UTF8   | en_US.utf8 | en_US.utf8 |        None       |
|  postgres |  user |   UTF8   | en_US.utf8 | en_US.utf8 |        None       |
| template0 |  user |   UTF8   | en_US.utf8 | en_US.utf8 |      =c/user      |
|           |       |          |            |            |   user=CTc/user   |
| template1 |  user |   UTF8   | en_US.utf8 | en_US.utf8 |      =c/user      |
|           |       |          |            |            |   user=CTc/user   |
+-----------+-------+----------+------------+------------+-------------------+

In [6]:
%sql \dt

Running query in 'postgresql://user:***@db:5432/ecommerce'

+--------+-----------+-------+-------+
| Schema |    Name   |  Type | Owner |
+--------+-----------+-------+-------+
| public |  customer | table |  user |
| public | inventory | table |  user |
| public |   vendor  | table |  user |
+--------+-----------+-------+-------+

In [7]:
table_list = [
    "customer", "inventory", "vendor"
]

In [8]:
for table in table_list:
    print(f"{table}")
    schema_query = f"columns --table {table}"
    display(get_ipython().run_line_magic('sqlcmd', schema_query))

customer

+------------+-----------+----------+--------------------------------------+---------------+---------+
|    name    |    type   | nullable |               default                | autoincrement | comment |
+------------+-----------+----------+--------------------------------------+---------------+---------+
|     id     |  INTEGER  |  False   | nextval('customer_id_seq'::regclass) |      True     |   None  |
| first_name |    TEXT   |  False   |                 None                 |     False     |   None  |
| last_name  |    TEXT   |  False   |                 None                 |     False     |   None  |
|   email    |    TEXT   |  False   |                 None                 |     False     |   None  |
| joined_at  | TIMESTAMP |  False   |                 None                 |     False     |   None  |
+------------+-----------+----------+--------------------------------------+---------------+---------+

inventory

+------------+-----------+----------+---------------------------------------+---------------+---------+
|    name    |    type   | nullable |                default                | autoincrement | comment |
+------------+-----------+----------+---------------------------------------+---------------+---------+
|     id     |  INTEGER  |  False   | nextval('inventory_id_seq'::regclass) |      True     |   None  |
| item_name  |    TEXT   |  False   |                  None                 |     False     |   None  |
|  category  |    TEXT   |  False   |                  None                 |     False     |   None  |
|   price    |  INTEGER  |  False   |                  None                 |     False     |   None  |
| updated_at | TIMESTAMP |  False   |                  None                 |     False     |   None  |
| vendor_id  |  INTEGER  |   True   |                  None                 |     False     |   None  |
+------------+-----------+----------+---------------------------------------+---------------+---------+

vendor

+-------------+-----------+----------+------------------------------------+---------------+---------+
|     name    |    type   | nullable |              default               | autoincrement | comment |
+-------------+-----------+----------+------------------------------------+---------------+---------+
|      id     |  INTEGER  |  False   | nextval('vendor_id_seq'::regclass) |      True     |   None  |
| vendor_name |    TEXT   |  False   |                None                |     False     |   None  |
|    region   |    TEXT   |  False   |                None                |     False     |   None  |
|  joined_at  | TIMESTAMP |  False   |                None                |     False     |   None  |
+-------------+-----------+----------+------------------------------------+---------------+---------+

In [13]:
for table in table_list:
    print(f"{table}")
    display(pd.read_sql(f"select * from {table} limit 100", engine))

customer

,id,first_name,last_name,email,joined_at
0,1,Jackson,Freeman,eric73@example.org,2025-03-16 10:31:19.272581
1,2,Bradley,Bailey,chandlercharlotte@example.net,2025-03-16 10:31:19.283771
2,3,Scott,Cook,gcharles@example.net,2025-03-16 10:31:19.291722
3,4,Matthew,Harding,woodtoni@example.net,2025-03-16 10:31:19.300404
4,5,John,Tucker,aprilbrown@example.net,2025-03-16 10:31:19.309857
5,6,Maria,Valdez,hensleydanielle@example.com,2025-03-16 10:31:19.317993
6,7,Ashley,Carter,alison88@example.com,2025-03-16 10:31:19.327727
7,8,Allison,Taylor,prichardson@example.com,2025-03-16 10:31:19.338297
8,9,Michelle,Spencer,ramirezmark@example.com,2025-03-16 10:31:19.349096
9,10,Sheryl,Hanson,daniellehall@example.com,2025-03-16 10:31:19.359303

inventory

    id item_name     category  price                 updated_at  vendor_id
0    1       how          but    469 2025-03-16 10:31:19.416024          1
1    2     board   production     68 2025-03-16 10:31:19.426401          1
2    3      risk          any    458 2025-03-16 10:31:19.437527          1
..  ..       ...          ...    ...                        ...        ...
47  48   article         both    299 2025-03-16 10:31:19.880480          5
48  49   hundred  development    189 2025-03-16 10:31:19.890761          5
49  50     treat        agent    162 2025-03-16 10:31:19.901447          5

[50 rows x 6 columns]

vendor

   id                  vendor_name region                  joined_at
0   1                   Weaver Inc     RO 2025-03-16 10:31:19.370019
1   2              Burton-Morrison     AD 2025-03-16 10:31:19.378211
2   3  Harding, Johnson and Rogers     BW 2025-03-16 10:31:19.388256
3   4                 Crawford Ltd     KH 2025-03-16 10:31:19.397292
4   5     Wilson, Harper and Young     MK 2025-03-16 10:31:19.406434